<body>
    <form action="/authenticate/login" method="POST">
      username:<br>
      <input type="text" name="username">
      <br>
      password:<br>
      <input type="password" name="password">
      <br><br>
      <input type="submit" value="Submit">
    </form> 
</body>