<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
  <!-- =====  BASIC PAGE NEEDS  ===== -->
  <meta charset="utf-8">
  <title>SINAR EMAS</title>
  <!-- =====  SEO MATE  ===== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="distribution" content="global">
  <meta name="revisit-after" content="2 Days">
  <meta name="robots" content="ALL">
  <meta name="rating" content="8 YEARS">
  <meta name="Language" content="en-us">
  <meta name="GOOGLEBOT" content="NOARCHIVE">
  <!-- =====  MOBILE SPECIFICATION  ===== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="viewport" content="width=device-width">
  <!-- =====  CSS  ===== -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/magnific-popup.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
  <link rel="shortcut icon" th:href="@{/images/favicon.png}">
  <link rel="apple-touch-icon" th:href="@{/images/apple-touch-icon.png}">
  <link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/apple-touch-icon-72x72.png}">
  <link rel="apple-touch-icon" sizes="114x114" th:href="@{/images/apple-touch-icon-114x114.png}">
</head>

<body>
  <!-- =====  LODER  ===== -->
  <div class="loder"></div>
  <div class="wrapper">
    <!-- =====  HEADER START  ===== -->
    <header id="header">
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="header-top-left">
                <div class="contact"><span th:text="${usergreeting}" class="hidden-xs hidden-sm hidden-md"></span></div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-8">
              <ul class="header-top-right text-right">
                <li class="account"><a th:href="@{${user_link}}" th:text="${user_account}"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="header">
        <div class="container">
          <div class="row">
            <!-- <div class="col-xs-12 col-sm-4">
              <div class="main-search mt_40">
                <input id="search-input" name="search" value="" placeholder="Search" class="form-control input-lg" autocomplete="off" type="text">
                <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
              </span> </div>
            </div> -->
            <div class="navbar-header col-xs-6 col-sm-12"> <a class="navbar-brand" th:href="@{/about}"> <img alt="logosinaremas" src="https://i.imgur.com/mdcJoMi.png" width="300px" height="65px"> </a> </div>
            <!-- <div class="col-xs-6 col-sm-4 shopcart">
              <div id="cart" class="btn-group btn-block mtb_40">
                <button type="button" class="btn" data-target="#cart-dropdown" data-toggle="collapse" aria-expanded="true"><span id="shippingcart">Shopping cart</span><span id="cart-total">items (0)</span> </button>
              </div>
              <div id="cart-dropdown" class="cart-menu collapse">
                <ul>
                  <li>
                    <table class="table table-striped">
                      <tbody>
                        <tr>
                          <td class="text-center"><a href="#"><img th:src="@{/images/product/70x84.jpg}" alt="iPod Classic" title="iPod Classic"></a></td>
                          <td class="text-left product-name"><a href="#">MacBook Pro</a> <span class="text-left price">$20.00</span>
                            <input class="cart-qty" name="product_quantity" min="1" value="1" type="number">
                          </td>
                          <td class="text-center"><a class="close-cart"><i class="fa fa-times-circle"></i></a></td>
                        </tr>
                        <tr>
                          <td class="text-center"><a href="#"><img th:src="@{/images/product/70x84.jpg}" alt="iPod Classic" title="iPod Classic"></a></td>
                          <td class="text-left product-name"><a href="#">MacBook Pro</a> <span class="text-left price">$20.00</span>
                            <input class="cart-qty" name="product_quantity" min="1" value="1" type="number">
                          </td>
                          <td class="text-center"><a class="close-cart"><i class="fa fa-times-circle"></i></a></td>
                        </tr>
                      </tbody>
                    </table>
                  </li>
                  <li>
                    <table class="table">
                      <tbody>
                        <tr>
                          <td class="text-right"><strong>Sub-Total</strong></td>
                          <td class="text-right">$2,100.00</td>
                        </tr>
                        <tr>
                          <td class="text-right"><strong>Eco Tax (-2.00)</strong></td>
                          <td class="text-right">$2.00</td>
                        </tr>
                        <tr>
                          <td class="text-right"><strong>VAT (20%)</strong></td>
                          <td class="text-right">$20.00</td>
                        </tr>
                        <tr>
                          <td class="text-right"><strong>Total</strong></td>
                          <td class="text-right">$2,122.00</td>
                        </tr>
                      </tbody>
                    </table>
                  </li>
                  <li>
                    <form action="cart_page.html">
                      <input class="btn pull-left mt_10" value="View cart" type="submit">
                    </form>
                    <form action="checkout_page.html">
                      <input class="btn pull-right mt_10" value="Checkout" type="submit">
                    </form>
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
            <nav class="navbar">
              <!-- <p>menu</p> -->
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse"> <span class="i-bar"><i class="fa fa-bars"></i></span></button>
              <div class="collapse navbar-collapse js-navbar-collapse">
                <ul id="menu" class="nav navbar-nav">
                  <li> <a th:href="@{/}">Home</a></li>
                  <li> <a th:href="@{/product}">Products</a></li>
                  <li> <a th:href="@{/about}">About us</a></li>
                  <li> <a th:href="@{/contact}">Contact us</a></li>
                </ul>
              </div>
              <!-- /.nav-collapse -->
            </nav>
          <!-- </div> -->
        </div>
      </header>
      <!-- =====  HEADER END  ===== -->
    <!-- =====  CONTAINER START  ===== -->
    <div class="container mt_30">
      <div class="row ">
        <div class="col-sm-12 col-lg-12 mtb_20">
          <!-- about  -->
          <div class="row">
            <div class="col-md-12">
              <center>
                <figure> <img src="https://i.imgur.com/qAWDrQ2.jpg" alt="#" width="800px" height="300px"> </figure>
              </center>
            </div>
            <div class="col-md-12">
              <div class="about-text">
                <div class="about-heading-wrap">
                  <center>
                    <h2 class="about-heading mb_20 mt_40 ptb_10"><strong>SINAR EMAS</strong></h2>
                  </center>
                </div>
                <div>
                  <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;SINAR EMAS merupakan portal belanja online yang memudahkan masyarakat Indonesia 
                    dalam melakukan proses transaksi jual-beli perlengkapan persenjataan.
                   Tidak semua orang dapat membeli perlengkapan di Sinar Emas. Hanya orang-orang tertentu, 
                    yang dipercaya dan dapat menjadi pembeli dan mendapatkan User di Sinar Emas.
                     Sehingga tidak ada registrasi user Sinar Emas. 
                    Orang-orang yang terpercaya akan didatangi oleh Agen Rahasia Sinar Emas. </p>
                </div>
                
              </div>
            </div>
          </div>
          <!-- =====  product ===== -->
          <div class="row">
            <div class="col-md-12">
              <div class="heading-part mb_20 mt_40">
                <h2 class="main_title">FITUR</h2>
              </div>
              <div class="panel-group" id="accordion">
                <div class="panel panel-default pull-left">
                  <div class="panel-heading">
                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. Login/Logout</a> </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <p>HTML is a computer language devised to can then b the Internet. It is relatively easy to learn, with the basics being accessible.</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default pull-left">
                  <div class="panel-heading">
                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. List of Products</a> </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>By : Shafira Ishlah Nurulita</p><br>
                      <p>Berhubungan dengan Front-End, mengatur tampilan sebuah website</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default pull-left">
                  <div class="panel-heading">
                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3. Top Up Saldo</a> </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Cascading Style Sheets, fondly referred to as CSS, is a simple design language intended to simplify the procrt of a web page. Using CSS.</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default pull-left">
                  <div class="panel-heading">
                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">4. Checkout</a> </h4>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Cascading Style Sheets, fondly referred to as CSS, is a simple design language intended to simplify the procrt of a web page. Using CSS.</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default pull-left">
                  <div class="panel-heading">
                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">5. Transaction</a> </h4>
                  </div>
                  <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Cascading Style Sheets, fondly referred to as CSS, is a simple design language intended to simplify the procrt of a web page. Using CSS.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <!-- =====  end  ===== -->
          <!--Team Carousel -->
          <div class="heading-part mb_10">
            <h2 class="main_title mt_50">Team</h2>
          </div>
          <div class="team_grid box">
            <div class="team3col  owl-carousel">
              <div class="item team-detail">
                <div class="team-item-img"> <img src="https://clipartion.com/wp-content/uploads/2015/10/batman-clipart-download-images.jpg" style="width: 420px;height: 500px;" alt="" /> </div>
                <div class="team-designation mt_20">Back-End Developer</div>
                <h4 class="team-title  mtb_10"><strong>Febriananda Wida Pramudita</strong></h4>
                <!-- <p>Lorem ipsum dolor sit amet, sea in odio erat, volumu Clita prodesset Rem ipsum dolor s..</p> -->
                <ul class="social mt_20 mb_80">
                  <li><a href="https://www.facebook.com/shafira.ishlah.nurulita" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://twitter.com/shafiraishlah05" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://www.instagram.com/shafiraishlah51/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="https://www.linkedin.com/in/shafiraishlah/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="https://www.gitlab.com/shafiraishlah51/" target="_blank"><i class="fa fa-gitlab"></i></a></li>
                </ul>
              </div>
              <div class="item team-detail">
                <div class="team-item-img" > <img src="https://i.imgur.com/ZiDU34d.jpg"  style="width: 420px;height: 500px;" alt="" /> </div>
                <div class="team-designation mt_20">Front-End Developer</div>
                <h4 class="team-title  mtb_10"><strong>Shafira Ishlah Nurulita</strong></h4>
                <!-- <p>Lorem ipsum dolor sit amet, sea in odio erat, volumu Clita prodesset Rem ipsum dolor s..</p> -->
                <ul class="social mt_20 mb_80">
                  <li><a href="https://www.facebook.com/shafira.ishlah.nurulita" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://twitter.com/shafiraishlah05" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://www.instagram.com/shafiraishlah51/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="https://www.linkedin.com/in/shafiraishlah/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="https://www.gitlab.com/shafiraishlah51/" target="_blank"><i class="fa fa-gitlab"></i></a></li>
                </ul>
              </div>
              <div class="item team-detail">
                <div class="team-item-img"> <img src="https://i.imgur.com/82v7ULi.jpg" style="width: 420px;height: 500px;" alt="" /> </div>
                <div class="team-designation mt_20">Back-End Developer</div>
                <h4 class="team-title  mtb_10"><strong>Edrick Lainardi</strong></h4>
                <!-- <p>Lorem ipsum dolor sit amet, sea in odio erat, volumu Clita prodesset Rem ipsum dolor s..</p> -->
                <ul class="social mt_20 mb_80">
                  <li><a href="https://www.facebook.com/shafira.ishlah.nurulita" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://twitter.com/shafiraishlah05" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://www.instagram.com/shafiraishlah51/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="https://www.linkedin.com/in/shafiraishlah/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="https://www.gitlab.com/shafiraishlah51/" target="_blank"><i class="fa fa-gitlab"></i></a></li>
                </ul>
              </div>
              <div class="item team-detail">
                <div class="team-item-img"> <img src="https://i.imgur.com/A7FWzAD.png" style="width: 420px;height: 500px;" alt="" /> </div>
                <div class="team-designation mt_20">Back-End Developer</div>
                <h4 class="team-title  mtb_10"><strong>Benedictus Alvin</strong></h4>
                <!-- <p>Lorem ipsum dolor sit amet, sea in odio erat, volumu Clita prodesset Rem ipsum dolor s..</p> -->
                <ul class="social mt_20 mb_80">
                  <li><a href="https://www.facebook.com/shafira.ishlah.nurulita" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://twitter.com/shafiraishlah05" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://www.instagram.com/shafiraishlah51/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="https://www.linkedin.com/in/shafiraishlah/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="https://www.gitlab.com/shafiraishlah51/" target="_blank"><i class="fa fa-gitlab"></i></a></li>
                </ul>
              </div>
              <div class="item team-detail">
                <div class="team-item-img"> <img src="https://i.imgur.com/CsejTGK.jpg" style="width: 420px;height: 500px;" alt="" /> </div>
                <div class="team-designation mt_20">Back-End Developer</div>
                <h4 class="team-title  mtb_10"><strong>Muhammad Jihad Rinaldi</strong></h4>
                <!-- <p>Lorem ipsum dolor sit amet, sea in odio erat, volumu Clita prodesset Rem ipsum dolor s..</p> -->
                <ul class="social mt_20 mb_80">
                  <li><a href="https://www.facebook.com/shafira.ishlah.nurulita" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://twitter.com/shafiraishlah05" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://www.instagram.com/shafiraishlah51/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="https://www.linkedin.com/in/shafiraishlah/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="https://www.gitlab.com/shafiraishlah51/" target="_blank"><i class="fa fa-gitlab"></i></a></li>
                </ul>
              </div>
              
            </div>
            <!--End Team Carousel -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Single Blog  -->
  <!-- End Blog   -->
  <!-- =====  CONTAINER END  ===== -->

  <!-- =====  FOOTER START  ===== -->
  <div class="footer-bottom mt_60 ptb_20">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="social_icon">
            <ul>
              <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.googe.com/"><i class="fa fa-google"></i></a></li>
              <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://www.fa-twitter.com/"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <!-- <div class="copyright-part text-center">@ </div> -->
        </div>
        <div class="col-sm-4">
          <div class="payment-icon text-right">
            <ul>
              <li><i class="fa fa-cc-paypal "></i></li>
              <li><i class="fa fa-cc-visa"></i></li>
              <li><i class="fa fa-cc-discover"></i></li>
              <li><i class="fa fa-cc-mastercard"></i></li>
              <li><i class="fa fa-cc-amex"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- =====  FOOTER END  ===== -->

  <a id="scrollup"></a>
  <script th:src="@{/js/jQuery_v3.1.1.min.js}"></script>
  <script th:src="@{/js/owl.carousel.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/jquery.magnific-popup.js}"></script>
  <script th:src="@{/js/custom.js}"></script>
</body>

</html>