<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
  <!-- =====  BASIC PAGE NEEDS  ===== -->
  <meta charset="utf-8">
  <title>SINAR EMAS</title>
  <!-- =====  SEO MATE  ===== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="distribution" content="global">
  <meta name="revisit-after" content="2 Days">
  <meta name="robots" content="ALL">
  <meta name="rating" content="8 YEARS">
  <meta name="Language" content="en-us">
  <meta name="GOOGLEBOT" content="NOARCHIVE">
  <!-- =====  MOBILE SPECIFICATION  ===== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="viewport" content="width=device-width">
  <!-- =====  CSS  ===== -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/magnific-popup.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.css}">
  <link rel="shortcut icon" th:href="@{/images/favicon.png}">
  <link rel="apple-touch-icon" th:href="@{/images/apple-touch-icon.png}">
  <link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/apple-touch-icon-72x72.png}">
  <link rel="apple-touch-icon" sizes="114x114" th:href="@{/images/apple-touch-icon-114x114.png}">
</head>

<body>
  <!-- =====  LODER  ===== -->
  <div class="loder"></div>
  <div class="wrapper">
  <!-- =====  HEADER START  ===== -->
  <header id="header">
    <div class="header-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="header-top-left">
              <div class="contact"><span th:text="${usergreeting}" class="hidden-xs hidden-sm hidden-md"></span></div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8">
            <ul class="header-top-right text-right">
              <li class="account"><a th:href="@{${user_link}}" th:text="${user_account}"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="header">
      <div class="container">
        <div class="row">
          <!-- <div class="col-xs-12 col-sm-4">
            <div class="main-search mt_40">
              <input id="search-input" name="search" value="" placeholder="Search" class="form-control input-lg" autocomplete="off" type="text">
              <span class="input-group-btn">
            <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
            </span> </div>
          </div> -->
          <div class="navbar-header col-xs-6 col-sm-12="> <a class="navbar-brand" th:href="@{/about}"> <img alt="logosinaremas" src="https://i.imgur.com/mdcJoMi.png" width="300px" height="65px"> </a> </div>
          <!-- <div class="col-xs-6 col-sm-4 shopcart">
            <div id="cart" class="btn-group btn-block mtb_40">
              <button type="button" class="btn" data-target="#cart-dropdown" data-toggle="collapse" aria-expanded="true"><span id="shippingcart">Shopping cart</span><span id="cart-total">items (0)</span> </button>
            </div>
            <div id="cart-dropdown" class="cart-menu collapse">
              <ul>
                <li>
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <td class="text-center"><a href="#"><img th:src="@{/images/product/70x84.jpg}" alt="iPod Classic" title="iPod Classic"></a></td>
                        <td class="text-left product-name"><a href="#">MacBook Pro</a> <span class="text-left price">$20.00</span>
                          <input class="cart-qty" name="product_quantity" min="1" value="1" type="number">
                        </td>
                        <td class="text-center"><a class="close-cart"><i class="fa fa-times-circle"></i></a></td>
                      </tr>
                      <tr>
                        <td class="text-center"><a href="#"><img th:src="@{/images/product/70x84.jpg}" alt="iPod Classic" title="iPod Classic"></a></td>
                        <td class="text-left product-name"><a href="#">MacBook Pro</a> <span class="text-left price">$20.00</span>
                          <input class="cart-qty" name="product_quantity" min="1" value="1" type="number">
                        </td>
                        <td class="text-center"><a class="close-cart"><i class="fa fa-times-circle"></i></a></td>
                      </tr>
                    </tbody>
                  </table>
                </li>
                <li>
                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="text-right"><strong>Sub-Total</strong></td>
                        <td class="text-right">$2,100.00</td>
                      </tr>
                      <tr>
                        <td class="text-right"><strong>Eco Tax (-2.00)</strong></td>
                        <td class="text-right">$2.00</td>
                      </tr>
                      <tr>
                        <td class="text-right"><strong>VAT (20%)</strong></td>
                        <td class="text-right">$20.00</td>
                      </tr>
                      <tr>
                        <td class="text-right"><strong>Total</strong></td>
                        <td class="text-right">$2,122.00</td>
                      </tr>
                    </tbody>
                  </table>
                </li>
                <li>
                  <form action="cart_page.html">
                    <input class="btn pull-left mt_10" value="View cart" type="submit">
                  </form>
                  <form action="checkout_page.html">
                    <input class="btn pull-right mt_10" value="Checkout" type="submit">
                  </form>
                </li>
              </ul>
            </div> -->
          </div>
        </div>
        <nav class="navbar">
          <!-- <p>menu</p> -->
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse"> <span class="i-bar"><i class="fa fa-bars"></i></span></button>
          <div class="collapse navbar-collapse js-navbar-collapse">
            <ul id="menu" class="nav navbar-nav">
              <li> <a th:href="@{/}">Home</a></li>
              <li> <a th:href="@{/product}">Products</a></li>
              <li> <a th:href="@{/about}">About us</a></li>
              <li> <a th:href="@{/contact}">Contact us</a></li>
            </ul>
          </div>
          <!-- /.nav-collapse -->
        </nav>
      </div>
    </div>
  </header>
  <!-- =====  HEADER END  ===== -->
    <!-- =====  CONTAINER START  ===== -->
    <div class="container">
      <div class="row ">
        <!-- =====  BANNER STRAT  ===== -->
        <div class="col-sm-12">
          <div class="breadcrumb ptb_20">
            <h1>Shopping Cart</h1>
            <ul>
              <li><a th:href="@{/}">Home</a></li>
              <li class="active">Shopping Cart</li>
            </ul>
          </div>
        </div>
        <!-- =====  BREADCRUMB END===== -->
        <div class="col-sm-12 col-lg-12 mtb_20">
          <div class="panel-group" id="accordion">
            
            <div class="panel panel-default ">
              <div class="panel-heading">
                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Step 1: Delivery Details <i class="fa fa-caret-down"></i></a> </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  <form class="form-horizontal">
                    <div class="radio">
                      <label>
                        <input type="radio" checked="checked" value="existing" name="shipping_address"> I want to use an existing address</label>
                    </div>
                    <div id="shipping-existing">
                      <select class="form-control" name="address_id">
                        <option selected="selected" value="4">adsasd, Al Hasakah, Syrian Arab Republic</option>
                      </select>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" value="new" name="shipping_address"> I want to use a new address</label>
                    </div>
                    <br>
                    <div id="shipping-new" style="display: none;">
                      <div class="form-group required">
                        <label for="input-shipping-firstname" class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="input-shipping-firstname" placeholder="First Name" value="" name="firstname">
                        </div>
                      </div>
                      <div class="form-group required">
                        <label for="input-shipping-lastname" class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="input-shipping-lastname" placeholder="Last Name" value="" name="lastname">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="input-shipping-company" class="col-sm-2 control-label">Company</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="input-shipping-company" placeholder="Company" value="" name="company">
                        </div>
                      </div>
                      <div class="form-group required">
                        <label for="input-shipping-address-1" class="col-sm-2 control-label">Address 1</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="input-shipping-address-1" placeholder="Address 1" value="" name="address_1">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="input-shipping-address-2" class="col-sm-2 control-label">Address 2</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="input-shipping-address-2" placeholder="Address 2" value="" name="address_2">
                        </div>
                      </div>
                      <div class="form-group required">
                        <label for="input-shipping-city" class="col-sm-2 control-label">City</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="input-shipping-city" placeholder="City" value="" name="city">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="input-shipping-postcode" class="col-sm-2 control-label">Post Code</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="input-shipping-postcode" placeholder="Post Code" value="123456" name="postcode">
                        </div>
                      </div>
                      <div class="form-group required">
                        <label for="input-shipping-country" class="col-sm-2 control-label">Country</label>
                        <div class="col-sm-10">
                          <select class="form-control" id="input-shipping-country" name="country_id">
                            <option value=""> --- Please Select --- </option>
                            <option value="244">Aaland Islands</option>
                            <option value="1">Afghanistan</option>
                            <option value="2">Albania</option>
                            <option value="3">Algeria</option>
                            <option value="4">American Samoa</option>
                            <option value="5">Andorra</option>
                            <option value="6">Angola</option>
                            <option value="7">Anguilla</option>
                            <option value="8">Antarctica</option>
                            <option value="9">Antigua and Barbuda</option>
                            <option value="10">Argentina</option>
                            <option value="11">Armenia</option>
                            <option value="12">Aruba</option>
                            <option value="252">Ascension Island (British)</option>
                            <option value="13">Australia</option>
                            <option value="14">Austria</option>
                            <option value="15">Azerbaijan</option>
                            <option value="16">Bahamas</option>
                            <option value="17">Bahrain</option>
                            <option value="18">Bangladesh</option>
                            <option value="19">Barbados</option>
                            <option value="20">Belarus</option>
                            <option value="21">Belgium</option>
                            <option value="22">Belize</option>
                            <option value="23">Benin</option>
                            <option value="24">Bermuda</option>
                            <option value="25">Bhutan</option>
                            <option value="26">Bolivia</option>
                            <option value="245">Bonaire, Sint Eustatius and Saba</option>
                            <option value="27">Bosnia and Herzegovina</option>
                            <option value="28">Botswana</option>
                            <option value="29">Bouvet Island</option>
                            <option value="30">Brazil</option>
                            <option value="31">British Indian Ocean Territory</option>
                            <option value="32">Brunei Darussalam</option>
                            <option value="33">Bulgaria</option>
                            <option value="34">Burkina Faso</option>
                            <option value="35">Burundi</option>
                            <option value="36">Cambodia</option>
                            <option value="37">Cameroon</option>
                            <option value="38">Canada</option>
                            <option value="251">Canary Islands</option>
                            <option value="39">Cape Verde</option>
                            <option value="40">Cayman Islands</option>
                            <option value="41">Central African Republic</option>
                            <option value="42">Chad</option>
                            <option value="43">Chile</option>
                            <option value="44">China</option>
                            <option value="45">Christmas Island</option>
                            <option value="46">Cocos (Keeling) Islands</option>
                            <option value="47">Colombia</option>
                            <option value="48">Comoros</option>
                            <option value="49">Congo</option>
                            <option value="50">Cook Islands</option>
                            <option value="51">Costa Rica</option>
                            <option value="52">Cote D'Ivoire</option>
                            <option value="53">Croatia</option>
                            <option value="54">Cuba</option>
                            <option value="246">Curacao</option>
                            <option value="55">Cyprus</option>
                            <option value="56">Czech Republic</option>
                            <option value="237">Democratic Republic of Congo</option>
                            <option value="57">Denmark</option>
                            <option value="58">Djibouti</option>
                            <option value="59">Dominica</option>
                            <option value="60">Dominican Republic</option>
                            <option value="61">East Timor</option>
                            <option value="62">Ecuador</option>
                            <option value="63">Egypt</option>
                            <option value="64">El Salvador</option>
                            <option value="65">Equatorial Guinea</option>
                            <option value="66">Eritrea</option>
                            <option value="67">Estonia</option>
                            <option value="68">Ethiopia</option>
                            <option value="69">Falkland Islands (Malvinas)</option>
                            <option value="70">Faroe Islands</option>
                            <option value="71">Fiji</option>
                            <option value="72">Finland</option>
                            <option value="74">France, Metropolitan</option>
                            <option value="75">French Guiana</option>
                            <option value="76">French Polynesia</option>
                            <option value="77">French Southern Territories</option>
                            <option value="126">FYROM</option>
                            <option value="78">Gabon</option>
                            <option value="79">Gambia</option>
                            <option value="80">Georgia</option>
                            <option value="81">Germany</option>
                            <option value="82">Ghana</option>
                            <option value="83">Gibraltar</option>
                            <option value="84">Greece</option>
                            <option value="85">Greenland</option>
                            <option value="86">Grenada</option>
                            <option value="87">Guadeloupe</option>
                            <option value="88">Guam</option>
                            <option value="89">Guatemala</option>
                            <option value="256">Guernsey</option>
                            <option value="90">Guinea</option>
                            <option value="91">Guinea-Bissau</option>
                            <option value="92">Guyana</option>
                            <option value="93">Haiti</option>
                            <option value="94">Heard and Mc Donald Islands</option>
                            <option value="95">Honduras</option>
                            <option value="96">Hong Kong</option>
                            <option value="97">Hungary</option>
                            <option value="98">Iceland</option>
                            <option value="99">India</option>
                            <option value="100">Indonesia</option>
                            <option value="101">Iran (Islamic Republic of)</option>
                            <option value="102">Iraq</option>
                            <option value="103">Ireland</option>
                            <option value="254">Isle of Man</option>
                            <option value="104">Israel</option>
                            <option value="105">Italy</option>
                            <option value="106">Jamaica</option>
                            <option value="107">Japan</option>
                            <option value="257">Jersey</option>
                            <option value="108">Jordan</option>
                            <option value="109">Kazakhstan</option>
                            <option value="110">Kenya</option>
                            <option value="111">Kiribati</option>
                            <option value="113">Korea, Republic of</option>
                            <option value="253">Kosovo, Republic of</option>
                            <option value="114">Kuwait</option>
                            <option value="115">Kyrgyzstan</option>
                            <option value="116">Lao People's Democratic Republic</option>
                            <option value="117">Latvia</option>
                            <option value="118">Lebanon</option>
                            <option value="119">Lesotho</option>
                            <option value="120">Liberia</option>
                            <option value="121">Libyan Arab Jamahiriya</option>
                            <option value="122">Liechtenstein</option>
                            <option value="123">Lithuania</option>
                            <option value="124">Luxembourg</option>
                            <option value="125">Macau</option>
                            <option value="127">Madagascar</option>
                            <option value="128">Malawi</option>
                            <option value="129">Malaysia</option>
                            <option value="130">Maldives</option>
                            <option value="131">Mali</option>
                            <option value="132">Malta</option>
                            <option value="133">Marshall Islands</option>
                            <option value="134">Martinique</option>
                            <option value="135">Mauritania</option>
                            <option value="136">Mauritius</option>
                            <option value="137">Mayotte</option>
                            <option value="138">Mexico</option>
                            <option value="139">Micronesia, Federated States of</option>
                            <option value="140">Moldova, Republic of</option>
                            <option value="141">Monaco</option>
                            <option value="142">Mongolia</option>
                            <option value="242">Montenegro</option>
                            <option value="143">Montserrat</option>
                            <option value="144">Morocco</option>
                            <option value="145">Mozambique</option>
                            <option value="146">Myanmar</option>
                            <option value="147">Namibia</option>
                            <option value="148">Nauru</option>
                            <option value="149">Nepal</option>
                            <option value="150">Netherlands</option>
                            <option value="151">Netherlands Antilles</option>
                            <option value="152">New Caledonia</option>
                            <option value="153">New Zealand</option>
                            <option value="154">Nicaragua</option>
                            <option value="155">Niger</option>
                            <option value="156">Nigeria</option>
                            <option value="157">Niue</option>
                            <option value="158">Norfolk Island</option>
                            <option value="112">North Korea</option>
                            <option value="159">Northern Mariana Islands</option>
                            <option value="160">Norway</option>
                            <option value="161">Oman</option>
                            <option value="162">Pakistan</option>
                            <option value="163">Palau</option>
                            <option value="247">Palestinian Territory, Occupied</option>
                            <option value="164">Panama</option>
                            <option value="165">Papua New Guinea</option>
                            <option value="166">Paraguay</option>
                            <option value="167">Peru</option>
                            <option value="168">Philippines</option>
                            <option value="169">Pitcairn</option>
                            <option value="170">Poland</option>
                            <option value="171">Portugal</option>
                            <option value="172">Puerto Rico</option>
                            <option value="173">Qatar</option>
                            <option value="174">Reunion</option>
                            <option value="175">Romania</option>
                            <option value="176">Russian Federation</option>
                            <option value="177">Rwanda</option>
                            <option value="178">Saint Kitts and Nevis</option>
                            <option value="179">Saint Lucia</option>
                            <option value="180">Saint Vincent and the Grenadines</option>
                            <option value="181">Samoa</option>
                            <option value="182">San Marino</option>
                            <option value="183">Sao Tome and Principe</option>
                            <option value="184">Saudi Arabia</option>
                            <option value="185">Senegal</option>
                            <option value="243">Serbia</option>
                            <option value="186">Seychelles</option>
                            <option value="187">Sierra Leone</option>
                            <option value="188">Singapore</option>
                            <option value="189">Slovak Republic</option>
                            <option value="190">Slovenia</option>
                            <option value="191">Solomon Islands</option>
                            <option value="192">Somalia</option>
                            <option value="193">South Africa</option>
                            <option value="194">South Georgia &amp; South Sandwich Islands</option>
                            <option value="248">South Sudan</option>
                            <option value="195">Spain</option>
                            <option value="196">Sri Lanka</option>
                            <option value="249">St. Barthelemy</option>
                            <option value="197">St. Helena</option>
                            <option value="250">St. Martin (French part)</option>
                            <option value="198">St. Pierre and Miquelon</option>
                            <option value="199">Sudan</option>
                            <option value="200">Suriname</option>
                            <option value="201">Svalbard and Jan Mayen Islands</option>
                            <option value="202">Swaziland</option>
                            <option value="203">Sweden</option>
                            <option value="204">Switzerland</option>
                            <option selected="selected" value="205">Syrian Arab Republic</option>
                            <option value="206">Taiwan</option>
                            <option value="207">Tajikistan</option>
                            <option value="208">Tanzania, United Republic of</option>
                            <option value="209">Thailand</option>
                            <option value="210">Togo</option>
                            <option value="211">Tokelau</option>
                            <option value="212">Tonga</option>
                            <option value="213">Trinidad and Tobago</option>
                            <option value="255">Tristan da Cunha</option>
                            <option value="214">Tunisia</option>
                            <option value="215">Turkey</option>
                            <option value="216">Turkmenistan</option>
                            <option value="217">Turks and Caicos Islands</option>
                            <option value="218">Tuvalu</option>
                            <option value="219">Uganda</option>
                            <option value="220">Ukraine</option>
                            <option value="221">United Arab Emirates</option>
                            <option value="222">United Kingdom</option>
                            <option value="223">United States</option>
                            <option value="224">United States Minor Outlying Islands</option>
                            <option value="225">Uruguay</option>
                            <option value="226">Uzbekistan</option>
                            <option value="227">Vanuatu</option>
                            <option value="228">Vatican City State (Holy See)</option>
                            <option value="229">Venezuela</option>
                            <option value="230">Viet Nam</option>
                            <option value="231">Virgin Islands (British)</option>
                            <option value="232">Virgin Islands (U.S.)</option>
                            <option value="233">Wallis and Futuna Islands</option>
                            <option value="234">Western Sahara</option>
                            <option value="235">Yemen</option>
                            <option value="238">Zambia</option>
                            <option value="239">Zimbabwe</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group required">
                        <label for="input-shipping-zone" class="col-sm-2 control-label">Region / State</label>
                        <div class="col-sm-10">
                          <select class="form-control" id="input-shipping-zone" name="zone_id">
                            <option value=""> --- Please Select --- </option>
                            <option selected="selected" value="3121">Al Hasakah</option>
                            <option value="3122">Al Ladhiqiyah</option>
                            <option value="3123">Al Qunaytirah</option>
                            <option value="3124">Ar Raqqah</option>
                            <option value="3125">As Suwayda</option>
                            <option value="3126">Dara</option>
                            <option value="3127">Dayr az Zawr</option>
                            <option value="3128">Dimashq</option>
                            <option value="3129">Halab</option>
                            <option value="3130">Hamah</option>
                            <option value="3131">Hims</option>
                            <option value="3132">Idlib</option>
                            <option value="3133">Rif Dimashq</option>
                            <option value="3134">Tartus</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="buttons clearfix">
                      <div class="pull-right">
                        <input type="button" class="btn" data-loading-text="Loading..." id="button-shipping-address" value="Continue">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default ">
              <div class="panel-heading">
                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapsefive">Step 2: Payment Method <i class="fa fa-caret-down"></i></a> </h4>
              </div>
              <div id="collapsefive" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Please select the preferred payment method to use on this order.</p>
                  <div class="radio">
                    <label>
                      <input type="radio" checked="checked" value="cod" name="payment_method"> Balance </label>
                  </div>
                  <p><strong>Add Comments About Your Order</strong></p>
                  <p>
                    <textarea class="form-control" rows="8" name="comment"></textarea>
                  </p>
                  <div class="buttons">
                    <div class="pull-right mt_20">I have read and agree to the <a class="agree" href="#"><b>Terms &amp; Conditions</b></a>
                      <input type="checkbox" value="1" name="agree"> &nbsp;
                      <input type="button" class="btn" data-loading-text="Loading..." id="button-payment-method" value="Continue">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default ">
              <div class="panel-heading">
                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapsesix">Step 3: Confirm Order <i class="fa fa-caret-down"></i></a> </h4>
              </div>
              <div id="collapsesix" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="table-responsive" >
                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <td class="text-left">Product Name</td>
                          <td class="text-right">Unit Price</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="text-left"><a href="http://localhost/opc001/index.php?route=product/product&amp;product_id=46" id= "transaksiname"></a></td>
                          <td class="text-right" id ="transaksiprice"></td>
                          <!-- <td class="text-right" id ="transaksiprice">$1,000.00</td> -->
                        </tr>
                      </tbody>
                      <!-- <tfoot>
                        <tr>
                          <td class="text-right" colspan="2"><strong>Total:</strong></td>
                          <td class="text-right" id ="transaksiprice">$1,005.00</td>
                        </tr>
                      </tfoot> -->
                    </table>
                  </div>
                  <div class="buttons">
                    <div class="pull-right">
                      <center>
                          <a href="/" target="self"><input type="button" onclick="alert('Transaksi berhasil di proses')" th:href="@{/}"  data-loading-text="Loading..." class="btn" id="button-confirm" value="Confirm Order"></a>
                      </center>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="brand_carouse" class="ptb_30 text-center">
        <div class="type-01">
          <div class="heading-part mb_20 ">
            <h2 class="main_title">Brand Logo</h2>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="brand owl-carousel ptb_20">
                <div class="item text-center"> <a href="#"><img th:src="@{/images/brand/brand1.png}" alt="Disney" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img th:src="@{images/brand/brand2.png}" alt="Dell" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img th:src="@{/images/brand/brand3.png}" alt="Harley" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img th:src="@{/images/brand/brand4.png}" alt="Canon" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img th:src="@{/images/brand/brand5.png}" alt="Canon" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img th:src="@{/images/brand/brand6.png}" alt="Canon" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img th:src="@{/images/brand/brand7.png}" alt="Canon" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img th:src="@{/images/brand/brand8.png}" alt="Canon" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img th:src="@{/images/brand/brand9.png}" alt="Canon" class="img-responsive" /></a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- =====  CONTAINER END  ===== -->
    <div class="footer-bottom mt_60 ptb_20">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="social_icon">
              <ul>
                <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.googe.com/"><i class="fa fa-google"></i></a></li>
                <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.fa-twitter.com/"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <!-- <div class="copyright-part text-center">@ </div> -->
          </div>
          <div class="col-sm-4">
            <div class="payment-icon text-right">
              <ul>
                <li><i class="fa fa-cc-paypal "></i></li>
                <li><i class="fa fa-cc-visa"></i></li>
                <li><i class="fa fa-cc-discover"></i></li>
                <li><i class="fa fa-cc-mastercard"></i></li>
                <li><i class="fa fa-cc-amex"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- =====  FOOTER END  ===== -->
  </div>
  <a id="scrollup"></a>
  <script th:src="@{/js/jQuery_v3.1.1.min.js}"></script>
  <script th:src="@{/js/owl.carousel.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/jquery.magnific-popup.js}"></script>
  <script th:src="@{/js/custom.js}"></script>
  <script th:src="@{/js/jquery-ui.js}"></script>
  <script th:src="@{/js/item.js}"></script>
  <script th:src="@{/js/transaksi.js}"></script>
  <script type="text/javascript">
  $('input[name=\'payment_address\']').on('change', function() {
    if (this.value == 'new') {
      $('#payment-existing').hide();
      $('#payment-new').show();
    } else {
      $('#payment-existing').show();
      $('#payment-new').hide();
    }
  });
  $('input[name=\'shipping_address\']').on('change', function() {
    if (this.value == 'new') {
      $('#shipping-existing').hide();
      $('#shipping-new').show();
    } else {
      $('#shipping-existing').show();
      $('#shipping-new').hide();
    }
  });

  transaksi();
  </script>

</body>

</html>