<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
  <!-- =====  BASIC PAGE NEEDS  ===== -->
  <meta charset="utf-8">
  <title>SINAR EMAS</title>
  <!-- =====  SEO MATE  ===== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="distribution" content="global">
  <meta name="revisit-after" content="2 Days">
  <meta name="robots" content="ALL">
  <meta name="rating" content="8 YEARS">
  <meta name="Language" content="en-us">
  <meta name="GOOGLEBOT" content="NOARCHIVE">
  <!-- =====  MOBILE SPECIFICATION  ===== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="viewport" content="width=device-width">
  <!-- =====  CSS  ===== -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/magnific-popup.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
  <link rel="shortcut icon" th:href="@{/images/favicon.png}">
  <link rel="apple-touch-icon" th:href="@{/images/apple-touch-icon.png}">
  <link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/apple-touch-icon-72x72.png}">
  <link rel="apple-touch-icon" sizes="114x114" th:href="@{/images/apple-touch-icon-114x114.png}">
</head>

<body>
  <!-- =====  LODER  ===== -->
  <div class="loder"></div>
  <div class="wrapper">
   
  <!-- =====  HEADER START  ===== -->
  <header id="header">
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="header-top-left">
                <div class="contact"><span th:text="${usergreeting}" class="hidden-xs hidden-sm hidden-md"></span></div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-8">
              <ul class="header-top-right text-right">
                <li class="account"><a th:href="@{${user_link}}" th:text="${user_account}"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="header">
        <div class="container">
          <div class="row">
           
            <div class="navbar-header col-xs-6 col-sm-12"> <a class="navbar-brand" th:href="@{/about}"> <img alt="logosinaremas" src="https://i.imgur.com/mdcJoMi.png" width="300px" height="65px"> </a> </div>
           
          </div>
        </div>
          <nav class="navbar">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse"> <span class="i-bar"><i class="fa fa-bars"></i></span></button>
            <div class="collapse navbar-collapse js-navbar-collapse">
              <ul id="menu" class="nav navbar-nav">
                <li> <a th:href="@{/}">Home</a></li>
                <li> <a th:href="@{/product}">Products</a></li>
                <li> <a th:href="@{/about}">About us</a></li>
                <li> <a th:href="@{/contact}">Contact us</a></li>
              </ul>
            </div>
          </nav>
        <!-- </div> -->
      </div>
    </header>
    <!-- =====  HEADER END  ===== -->
    
    <!-- =====  BANNER STRAT  ===== -->
    <div class="banner">
      <div class="main-banner owl-carousel">
        <div class="item"><a ><img src="https://northeasterntribune.co.za/wp-content/uploads/sites/8/2018/02/guns-1-1.jpg" alt="Main Banner" class="img-responsive" /></a></div>
        <div class="item"><a ><img src="https://picserio.com/data/out/234/handgun-wallpaper_4471433.jpg" alt="Main Banner" class="img-responsive" /></a></div>
      </div>
    </div>
    <!-- =====  BANNER END  ===== -->
    <!-- =====  CONTAINER START  ===== -->
    <div class="container">
      <!-- =====  SUB BANNER  STRAT ===== -->
      <div class="row">
        <div class="col-sm-3 mt_20 cms-icon ">
          <div class="feature-i-left ptb_30 ">
            <div class="icon-right Shipping"></div>
            <h6>Free Shipping</h6>
            <p>Free delivery worldwide</p>
          </div>
        </div>
        <div class="col-sm-3 mt_20 cms-icon ">
          <div class="feature-i-left ptb_30 ">
            <div class="icon-right Order"></div>
            <h6>Order Online</h6>
            <p>Hours : 8am - 11pm</p>
          </div>
        </div>
        <div class="col-sm-3 mt_20 cms-icon ">
          <div class="feature-i-left ptb_30 ">
            <div class="icon-right Save"></div>
            <h6>Shop And Save</h6>
            <p>For All Items</p>
          </div>
        </div>
        <div class="col-sm-3 mt_20 cms-icon ">
          <div class="feature-i-left ptb_30 ">
            <div class="icon-right Safe"></div>
            <h6>Safe Shopping</h6>
            <p>Ensure genuine 100%</p>
          </div>
        </div>
      </div>
       
        <div class="row ">
            <div class="col-sm-12 mt_30">
                <!-- =====  PRODUCT TAB  ===== -->
                <div id="top-brand-product-tab" class="mt_10">
                    <div class="heading-part mb_10 ">
                        <h2 class="main_title">Top Brand Products</h2>
                    </div>
                    <div>
                        <div class="tab-content clearfix box">
                            <div class="tab-pane active" id="nArrivals-2">
                                <div class="nArrivals owl-carousel" id="topbrandlist">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cms_banner">
                <div class="col-xs-12 mt_60">
                    <div id="subbanner5" class="sub-hover">
                        <div class="sub-img"><a href="#"><img src="https://www.cabelas.com/content/dam/assets/Cabelas/Hunting/Landing%20Pages/O/OnlineGuns010517/LP_OnLineGuns_BottomMood_b.jpg" alt="Sub Banner5" class="img-responsive"></a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
          <div class="col-sm-12 mt_30">
              <!-- =====  PRODUCT TAB  ===== -->
              <div id="product-tab" class="mt_10">
                  <div class="heading-part mb_10 ">
                      <h2 class="main_title">Featured Products</h2>
                  </div>
                  
                  <div id="demo">
                      <div class="tab-content clearfix box">
                          <div class="tab-pane active" id="nArrivals">
                              <div class="nArrivals owl-carousel" id="itemlist">

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="cms_banner">
              <div class="col-xs-12 mt_60">
                  <div id="subbanner4" class="sub-hover">
                      <div class="sub-img"><a href="#"><img src="https://www.cabelas.com/content/dam/assets/Cabelas/Hunting/Landing%20Pages/O/OnlineGuns010517/LP_OnLineGuns_BottomMood_b.jpg" alt="Sub Banner5" class="img-responsive"></a></div>
                  </div>
              </div>
          </div>
      </div>
        
      
      <!-- =====  SUB BANNER END  ===== -->
      
      <div id="brand_carouse" class="ptb_60 text-center">
        <div class="type-01">
          <div class="heading-part mb_10 ">
            <h2 class="main_title">Brand Logo</h2>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="brand owl-carousel ptb_20">
                <div class="item text-center"> <a href="#"><img th:src="@{/images/brand/brand1.png}" alt="Disney" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img th:src="@{/images/brand/brand2.png}" alt="Dell" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img th:src="@{/images/brand/brand3.png}" alt="Harley" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img th:src="@{/images/brand/brand4.png}" alt="Canon" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img th:src="@{/images/brand/brand5.png}" alt="Canon" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img th:src="@{/images/brand/brand6.png}" alt="Canon" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img th:src="@{/images/brand/brand7.png}" alt="Canon" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img th:src="@{/images/brand/brand8.png}" alt="Canon" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img th:src="@{/images/brand/brand9.png}" alt="Canon" class="img-responsive" /></a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- =====  CONTAINER END  ===== -->
  <!-- =====  FOOTER START  ===== -->
  <div class="footer-bottom mt_60 ptb_20">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="social_icon">
            <ul>
              <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.googe.com/"><i class="fa fa-google"></i></a></li>
              <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://www.fa-twitter.com/"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <!-- <div class="copyright-part text-center">@ </div> -->
        </div>
        <div class="col-sm-4">
          <div class="payment-icon text-right">
            <ul>
              <li><i class="fa fa-cc-paypal "></i></li>
              <li><i class="fa fa-cc-visa"></i></li>
              <li><i class="fa fa-cc-discover"></i></li>
              <li><i class="fa fa-cc-mastercard"></i></li>
              <li><i class="fa fa-cc-amex"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- =====  FOOTER END  ===== -->
  </div>
  <a id="scrollup"></a>
  <script th:src="@{/js/jQuery_v3.1.1.min.js}"></script>
  <script th:src="@{/js/owl.carousel.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/jquery.magnific-popup.js}"></script>
  <script th:src="@{/js/jquery.firstVisitPopup.js}"></script>
  <script th:src="@{/js/custom.js}"></script>
  <script th:src="@{/js/item.js}"></script>
  <script> parseItem() </script>
  <script> getTopBrandItem() </script>
</body>

</html>